#A1{
text-align: center;


}
header{

background-color: rgb(255, 255, 255);
font: bold;
font-size: xx-large;
letter-spacing: 4px;
padding: 25px;
padding-left: 45px;



}
#name{

}
#logo{

margin-top: -20px;
float: right;

}

#B{
    text-align: center;
    
    
    }
    body{
background-color: rgb(245, 210, 182);


    }
    #text{
        text-align: center;
        
    }        